---
layout: root.njk
---

<cover-l centered=".middle">
  <!-- <div>h</div> -->
  <div class="middle">
    <form action="/api/login" method="post" class="box invert" >
      <stack-l >
        <stack-l space="var(--s-5)">
          <label for="username">Username</label>
          <input type="text" name="username">
        </stack-l >
        <stack-l space="var(--s-5)">
          <label >Password</label>
          <input type="password" name="password">
        </stack-l>
        <input type="submit" value="Login">
      </stack-l>
    </form>
  </div>
  <!-- <div>h</div> -->
</cover-l>