

.note-page {
  background-color: var(--hue-accent);
}


.note-content {
  max-height: 100vh;
  overflow-y: auto;
}

.note-content > * {
  padding-left: var(--s1); 
  padding-right: var(--s1);
  background-color: var(--hue-cream);
}

.note-content > :first-child {
  padding-top: var(--s0); 
  border-top-left-radius: var(--s-2);
}

.note-content > :last-child {
  border-bottom-left-radius: var(--s-2);
}

sidebar-l > :first-child {
  margin-top: var(--s-1);
}
sidebar-l > * {
  margin-left: var(--s0);
  margin-right: var(--s0);
}

/* Higher-level headers that appear after lower level headers. */
/* Thinking about replacing h2 ~ h1 with h1~h1 for just any h1 that appears after an h1 since they probably start new segments anyway */
h2 ~ h1, h3 ~ h2 {
  margin-top: var(--s-3);
  padding-top: var(--s-5);

  border-top-width: var(--border-thin);
  border-top-color: var(--hue-cream-dark);
}

/* 
  Am falling into precipitously bad habits, possibly. Maybe I'm being too concerned
  and am writing a whole bunch of comments out of habit. Roll with it, change later.
*/
/* .note-page > p {
  font-size: var(--s0)
} */

/*
Uncanny things to the sidebars, don't want to compensate for the margin with the item heights.
Gotta be a better way, gotta think *composition*. This will come with experience, and probably
rewrites. Like. When I take a look at the design to improve it. The kind of thing to write
notes about. Don't need perfection right away.

It's like above with the 'cover *remainder of page* thinking. Expressing that as a composition
of components, working out the right css rules. calc(100vh - <earlier element's height>)
sidebar-l > * {
  margin-top: var(--s0);
}
*/
