

.note-page {
  background-color: var(--hue-accent);
}


.note-content {
  max-height: 100vh;
  overflow-y: auto;
}

.note-content > * {
  padding-left: var(--s1); 
  padding-right: var(--s1);
  background-color: var(--hue-cream);
}

.note-content > :first-child {
  padding-top: var(--s0); 
  border-top-left-radius: var(--s-2);
}

.note-content > :last-child {
  border-bottom-left-radius: var(--s-2);
}

sidebar-l > :first-child {
  padding-top: var(--s-1);
  padding-left: var(--s0);
  padding-right: var(--s0);
}

/* Higher-level headers that appear after lower level headers. */
/* Thinking about replacing h2 ~ h1 with h1~h1 for just any h1 that appears after an h1 since they probably start new segments anyway */
h2 ~ h1, h3 ~ h2 {
  margin-top: var(--s-3);
  padding-top: var(--s-5);

  border-top-width: var(--border-thin);
  border-top-color: var(--hue-cream-dark);
}

