

.note-page {

  /* background-color: var(--hue-accent); */
  /* background-color: #181818; */
  /* background-color: #202020; */

  /* I like this blue #00fe67 */

  --hue-cream-dark: #00c44f; /* nice! */
  --hue-cream-darkish: #b0efc0; /* can't land what I'm going for */
  --hue-cream: #b0ffd0;

  --bg-main: #202020;
  --bg-secondary: #181818;
  --hue-main: #DCDCDC;

  background-color: var(--bg-secondary);
  color: var(--hue-main); /* See, I was hoping I would just need to over-ride hue-main. But the colors are inheriting from * which got color based on the --hue-main in :root. */

}

.note-page * {
  background-color: inherit;
}

/* note that I refactored note-content to be a wrapper around a div that gives the styling we want
  .note-content itself is just the container for the scrollbar, and sets the height, to get 
*/
.note-content {
  /* max-height: 100vh; */
  overflow-y: auto;

  /* border applied to parent means it won't scroll with the overlow which we want */
  /* border-top-left-radius: var(--s-2);
  border-bottom-left-radius: var(--s-2); */
  /* background-color: var(--hue-cream); */
}

.note-content > * {
  padding-left: var(--s1); 
  padding-right: var(--s1);
  /* background-color: var(--hue-cream); */
  background-color: var(--bg-main);
  min-height: 100vh;
}

.note-content > :first-child {
  padding-top: var(--s0); 
  border-top-left-radius: var(--s-2);
}

.note-content > :last-child {
  border-bottom-left-radius: var(--s-2);
}

sidebar-l > :first-child {
  padding-top: var(--s-1);
  padding-left: var(--s0);
  padding-right: var(--s0);

  /* TODO not about the local overrides, but for now. */
  /* background-color: #0C0C0C; */
}

/* Higher-level headers that appear after lower level headers. */
/* Thinking about replacing h2 ~ h1 with h1~h1 for just any h1 that appears after an h1 since they probably start new segments anyway */
/* ^^ to that point we should only have one h1 per page! I may default it to the title in the app */
/* h2 ~ h1, h3 ~ h2 { */
/* This choice basically segments content into sections prefixed with an h2.
  It's fairly opinionated but until I get better customization controls I'll keep it.
  The above choice only added divisional segments when a higher tier header succeeds
  a lower tier one, such that sibling headers of the same level wouldn't segment from each other.
  I may still go with that but for now I'll take this more strongly opinionated style choice. */
h2 ~ h2 {
  margin-top: var(--s-3);
  /* padding-top: var(--s-5); */

  border-top-width: var(--border-thin);
  border-top-color: var(--hue-cream-dark);

  /* color: var(--hue-cream-darkish); */
}

/* editor-hf { */
  /* --s0: 1rem; */
  /* --s0: var(--s2); */
  /* max-width: var(--measure); */
/* } */
