/* Stolen from https://every-layout.dev */

/* A "reset" sheet and grounds for layout, but not branding */
:root {
  --font-plain:Helvetica Neue,Helvetica,Arial,sans-serif;
  --font-special:Barlow Condensed,Helvetica,sans-serif;
  --font-mono:Menlo,Courier,Courier New,Andale Mono,monospace;
  --color-dark:#050505;
  --color-darkish:#404040;
  --color-lightish:#e6e6e6;
  --color-light:#fafafa;
  --color-mid:grey;

  --dark-bg-main: #202020;
  --dark-bg-secondary: #181818;
  --dark-hue-main: #DCDCDC;
  /* --dark-hue-submit: #009900; */
  --dark-hue-submit: #3ba55d;
  --dark-hue-submit-hover: #2b954d;

  /* --bg-main: var(--color-lightish);
  --bg-secondary: var(--color-mid); */
  /* --hue-main: var(--color-dark); */



  --bg-main: var(--dark-bg-main);
  --bg-secondary: var(--dark-bg-secondary);
  --hue-main: var(--dark-hue-main);
  --color-submit: var(--dark-hue-submit);
  --color-submit-hover: var(--dark-hue-submit-hover);

  /* Need design scheme lingo, and easy way to update (javascript!)*/
  /* Primarys and accents and derived and all sorts */
  --hue-cream: #ffd0b0;
  --hue-cream-dark: #c44f00;
  --hue-cream-light: #ff964e;
  --hue-accent: #b0dfff;
  /* --hue-cream: #1D2951;
  --hue-cream-dark: #c44f00;
  --hue-cream-light: #ff964e;
  --hue-accent: #b0dfff; */
  --ratio:1.2;
  --s-5:calc(var(--s0)/var(--ratio)/var(--ratio)/var(--ratio)/var(--ratio)/var(--ratio));
  --s-4:calc(var(--s0)/var(--ratio)/var(--ratio)/var(--ratio)/var(--ratio));
  --s-3:calc(var(--s0)/var(--ratio)/var(--ratio)/var(--ratio));
  --s-2:calc(var(--s0)/var(--ratio)/var(--ratio));
  --s-1:calc(var(--s0)/var(--ratio));
  --s0:1rem;
  /* --s0:1rem + 0.33vw; */
  --s1:calc(var(--s0)*var(--ratio));
  --s2:calc(var(--s0)*var(--ratio)*var(--ratio));
  --s3:calc(var(--s0)*var(--ratio)*var(--ratio)*var(--ratio));
  --s4:calc(var(--s0)*var(--ratio)*var(--ratio)*var(--ratio)*var(--ratio));
  --s5:calc(var(--s0)*var(--ratio)*var(--ratio)*var(--ratio)*var(--ratio)*var(--ratio));
  --measure:65ch;
  --line-height:var(--ratio);
  --line-height-small:calc(0.8*var(--ratio));
  /* --border-thin:var(--s-5); */
  --border-thin:valc(0.3*var(--ratio));
  --border-thick:var(--s-2);
  line-height:var(--ratio);
  /* scaling size. I like it but maybe not for now? */
  /* font-size:calc(.333vw + 1em); */ /* the em changes... it'll recalculate even for inehrited right? so <p><div><p>0.25rem</p></div></p> if font-size=0.5em? I forgot how these work precisely */
  font-size: 1rem;
  font-family:var(--font-plain);
  /* background-color:var(--color-lightish); */
  /* color:var(--color-dark); */
  background-color:var(--bg-main);
  color:var(--hue-main);
}

*, ::before, ::after {
  /* Styling defaults */
  font-family: inherit;
  color: inherit;
  border: 0 solid;
  outline: var(--color-darkish) none 0; /* specifying inherit for the color makes it ignore the other values, since outline: inherit; is a global value of its own right. I think at least that's why. If want to use inherit for color, probably use outline-color property, and avoid shorthand */


  /* Layout defaults */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid gray; */
  /* max-width: var(--measure); */
}

/* List decorations */
/* ul, menu, dir { */
  /* display: block; */
  /* list-style-type: disc; */
  /* margin-block-start: 1em; */
  /* margin-block-end: 1em; */
  /* padding-inline-start: 40px; */
/* } */
/*  */
/* 2 deep unordered lists use a circle */
/* :is(ol, ul, menu, dir) ul, */
/* :is(ol, ul, menu, dir) menu, */
/* :is(ol, ul, menu, dir) dir { */
  /* list-style-type: circle; */
/* } */
/*  */
/* 3 deep (or more) unordered lists use a square */
/* :is(ol, ul, menu, dir) :is(ol, ul, menu, dir) ul, */
/* :is(ol, ul, menu, dir) :is(ol, ul, menu, dir) menu, */
/* :is(ol, ul, menu, dir) :is(ol, ul, menu, dir) dir { */
  /* list-style-type: square; */
/* } */

/* li>ul:not(:first-child) {
  list-style-type: none
} */


/* html, body, div, header, nav, main, footer,
stack-l, sidebar-l, editor-hf {
  max-width: none;
} */

/* Semantic element styling */

/* Gosh maybe I should leave it up to the note? *fret* */
p {
  font-size: var(--s0);
}
h1 {
  font-size: var(--s3);
}
h2 {
  font-size: var(--s2);
}
h3 {
  font-size: var(--s1);
}
li {
  /* TODO maybe... make Configurable */
  margin-left: 1em;
}


/* Component layout styling */
box-l {
  display: block;
  padding: var(--s1);
  border-width: var(--border-thin);
  /* ↓ For high contrast mode */
  outline: var(--border-thin) solid transparent;
  outline-offset: calc(var(--border-thin) * -1);
}

center-l {
  display: block;
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--measure);
}

cover-l {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--s1);
}

stack-l {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack-exception {
  --space: var(--s-5);
}

stack-l > * + * {
  margin-top: var(--s1);
}

cluster-l {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}


sidebar-l {
  display: flex;
  flex-wrap: wrap;
}

sidebar-l > * {
  flex-grow: 1;
}


.box {
  padding: var(--s1);
  border: var(--border-thin) solid;
  /* --color-light: #fff; */
  /* --color-dark: #000; */
  /* color: var(--color-dark); */
  /* background-color: var(--color-light); */
  /* background-color: var(--bg-secondary); */
}

form {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: 33vw;

  font-size: var(--s3);
}

form input, form button {
  /* color: #000; */
  background-color: var(--bg-secondary);

  padding: var(--s-4);

  font-size: inherit;
}

[type=submit], input[type=button] {
  background-color: var(--color-submit);
}

[type=submit]:hover {
  background-color: var(--color-submit-hover);
}

/* .box.invert {
  color: var(--color-light);
  background-color: var(--color-dark);
} */