---
layout: note.njk
title: Testing
---

<div contenteditable="">
  <h1>Title! what in the <em>heck</em> are all these demo pages for?</h1>
  <p>This document exists to easily construct objects for unit testing!</p>
  <p>Featuring a couple of cool paragraphs, <strong>inline elements,</strong> <strong><em>nested</em> line
      elements,</strong> and so much more!</p>
  <p>Well, not "so much" more. Just enough to tell me if there are problems! Like maybe some utf-16 😀 pretty glad
    vscode supports unicode code points...</p><h2>We've got headers too</h2><p>I think this is alright for a <em>standard</em> document experience. Don't you?</p>
</div>
<p>her</p>
<script>
  const dft = e => console.debug(e)
  // window.addEventListener('beforeinput', (e) => { dft(e); e.preventDefault()})
  window.addEventListener('beforeinput', dft)
  window.addEventListener('input', dft)
  window.addEventListener('focus', (e)=>{console.debug('WINDOW', e)})
  window.addEventListener('focusout', (e)=>{console.debug('WINDOW', e)})
  window.addEventListener('focusin', (e)=>{console.debug('WINDOW', e)})
</script>
