---
layout: note.njk
title: Testing
---

<editor-hf style="white-space: pre-wrap;">
  <h1>Title! what in the <em>heck</em> are all these demo pages for?</h1>
  <p>This document exists to easily construct objects for unit testing!</p>
  <p>Featuring a couple of cool paragraphs, <strong>inline elements,</strong> <strong><em>nested</em> line
      elements,</strong> and so much more!</p>
  <p>Well, not "so much" more. Just enough to tell me if there are problems! Like maybe some utf-16 😀 pretty glad
    vscode supports unicode code points...</p>
  <h2>We've got headers too</h2>
  <p>I think this is alright for a <em>standard</em> document experience. Don't you?</p>
</editor-hf>

<stack-l id="toolmark">
</stack-l>
<div style="display: flex;">
  <button id="select">Select</button>|
  <button id="bold">Bold</button>|
  <button id="italic">Italic</button>
</div>
<div style="display: flex;">
  <button id="togbold">Toggle Bold</button>|
  <button id="togitalic">Toggle Italic</button>
</div>
<button id="bug">Low key, (used to be) a bug. No more.</button>

<!-- <script type="module" src="js/modules/document/DOM.mjs"></script> -->
<script>
  const hf = document.querySelector('editor-hf')
  let editor
  const toolmark = document.querySelector("#toolmark")

  function label(fragments, ...values) {
    let result = ""
    for (let i = 0; i < values.length; i++) {
      result += `<strong>${fragments[i].trim()}:</strong>&nbsp;${values[i]}<br>`
    }
    return result
  }

  // TODO I'd like all the p's in a collapsible, or maybe arrange them in collapsibles.
  // like p1, p2 could be side by side in a flex arrangement and the flex container could
  // be collapsible. Right now my layout is not too composable, since I've shifted my
  // attention over to the editor capabilities
  const p1 = document.createElement('p')  // Label for DOM state
  const p2 = document.createElement('p')  // Label for EditDoc state
  const p3 = document.createElement('p')  // EditRenderer
  const d4 = document.createElement('div')
  const d5 = document.createElement('div')
  toolmark.append(p1, p2, p3, d4)
  p3.style = 'white-space: pre-wrap;'

  function updateEditDocLabel(editDoc) {
    const docCursor = editDoc.cursorOffset
    let docSelection = editDoc.at()
    const sel = editDoc.selection()
    if (sel !== '') docSelection = sel
    // p2.innerHTML = label`Doc Offset ${docCursor} Doc Selection ${docSelection} Length ${[...docSelection].length}`
    p2.innerHTML = label`Doc Offset ${docCursor} Length ${[...docSelection].length}`
  }

  let editDocRender, htmlRender
  import('/js/scribnet/document/renderer/index.mjs').then(m => {
    const { EditRenderer, HTMLRenderer } = m
    editDocRender = new EditRenderer()
    editDocRender.setWrapper(p3)
    htmlRender = new HTMLRenderer()
    htmlRender.setWrapper(d4)
  })

  document.addEventListener('DOMContentLoaded', (dce) => {
    console.debug("DOM COntent loaded")
  })

  const updateEditRender = (editor) => {

  }

  window.addEventListener('load', async (event) => {
    editor = hf.editor
    // editor.reformat()
    editor.formatDOM()
    editor.render()
    editor.readDOM()

    editDocRender.setEditDoc(editor.currentDocument)
    htmlRender.setEditDoc(editor.currentDocument)

    editor.currentDocument.addSelectListener(updateEditDocLabel)

    // initial renders
    updateEditDocLabel(editor.currentDocument)
    editDocRender.render(editor.currentDocument)
    htmlRender.render(editor.currentDocument)

    hf.editor.addListener('selectionchange', (editor) => {
      const cursor = editor.cursor
      const selection = editor.selectedText.length > 0 ? editor.selectedText : editor.characterAtCursor
      // p1.innerHTML = label`DOM Offset ${cursor} DOM Selection ${selection} Length ${selection.length}`
    })

    document.querySelector("#select").onclick = () => { editor.select(69, 96) }
    document.querySelector("#bold").onclick = () => { editor.setBold() }
    document.querySelector("#italic").onclick = () => { editor.setItalic() }
    document.querySelector('#togbold').addEventListener('click', ()=>{ editor.toggleBold() })
    document.querySelector('#togitalic').addEventListener('click', ()=>{ editor.toggleItalic() })
    document.querySelector("#bug").onclick = () => { editor.select(96, 165), editor.toggleBold() }

  })


</script>