---
layout: root.njk
---

{% block header %}
  <link rel="stylesheet" type="text/css" href="/css/note.css">

{% endblock %}

<div class="note-page">
  <sidebar-l sideWidth="20ch" space="0" contentMin="50%" noStretch>
    <stack-l class="buf">
      <p>Words Words Words Words</p>
    </stack-l>
    <div class="note-content">
      <stack-l splitAfter=1 space="0">

      {# could make the main element the stack. Idk #}
        <main >
          {# Maybe wrap in a center  #}
          <center-l>
            <stack-l space="var(--s-3)">
              {{ content | safe }}
            </stack-l>
          </center-l>
        </main>
        {# Minimum space. Pushed down by stack, so it expands to fill remaining gap
        if the viewheight accepts. Gives us a certain amount of space to scroll when 
        editing or reading the note even if no content exists. #}
        <div style="min-height: 50vh"></div>
      </stack-l>
    </div>
  </sidebar-l>
</div>
