---
layout: root.njk
---

{% block header %}
  <link rel="stylesheet" type="text/css" href="/css/note.css">
  <link rel="stylesheet" type="text/css" href="/css/slidebar.css">

{% endblock %}

<div class="note-page">
  <!-- <sidebar-l sideWidth="30ch" space="0" contentMin="66%" noStretch> -->
  <!-- <sidebar-l space="0" contentMin="66%" noStretch>
    <label>
      <input type="checkbox" class="toggle" checked>
      <stack-l class="buf collapsible">
        <p>Words Words Words Words</p>
      </stack-l>
    </label> -->
    <div class="note-content">
      <stack-l splitAfter=1 space="0">

      {# could make the main element the stack. Idk #}
        <main >
          {# Maybe wrap in a center. I'd like a better max-width then just overriding it here,
          since it's kinda based on the default font size of the editor. So maybe the editor should manage it. 
          for now since Im making the editor have slightly larger font it'll do okay.
          #}
          <center-l max="75ch">
            <stack-l space="var(--s-3)">
              {{ content | safe }}
            </stack-l>
          </center-l>
        </main>
        {# Minimum space. Pushed down by stack, so it expands to fill remaining gap
        if the viewheight accepts. Gives us a certain amount of space to scroll when 
        editing or reading the note even if no content exists. #}
        <div style="min-height: 50vh"></div>
      </stack-l>
    </div>
  <!-- </sidebar-l> -->
</div>
