---
layout: note
pagination:
  data: notes
  size: 1
  alias: noteItem
permalink: "note/{{ noteItem.name | slug }}/"
---
{# only permalink and eleventyComputed can contain variables/shortcodes in this frontmatter format (and Im not sure I can work out pagination with a ---js frontmatter at the moment) #}
{# title: "{{ noteItem.name | slug }}" #}
{# eleventyComputed: #}

{# 
  This file, combined with note.11tydata.js, using data
  computed from _data/notes.js, populates the note/
  directory in the site output with note data from the
  server. It is fetched at build time.
  We could have this file in the root, because the 
  permalink frontmatter data sets it to the note/ 
  directory. The idea though is to group related information
  together. Perhaps if we didn't need a note.11tydata.js, or
  weren't planning an index page, then we might do that.
#}

{# Set header <title> here using note name #}
{# <h1> #}
{# <h1>Name: {{ noteItem.name }}</h1>
<h2>{{ noteItem | access("name") }}</h2> #}
{{ noteItem.content | safe }}